/* ****** */
/* Colors */
/* ****** */

:root {
    --cl__black: #000000;
    --cl__blackPearl: #04182f;
    --cl__guardsManRed: #bb0000;
    --cl__maroon: #800000;
    --cl__white: #ffffff;

    --body--primary: var(--cl__white);
    --body--secondary: var(--cl__black);
}
