.services {
    align-items: center;
    background-image: url('../public/images/services.png');
    background-repeat: no-repeat;
    border-radius:50% ;
    background-size: cover;
    background-position: center top;
    display: flex;
    border-radius:50% ;
    height: 745px;
    width: 100%;

    .services-container {
        display: flex;
        flex-direction: column;
        margin-left: 243px;    
      
       
        h2 {
            color: white;
            font-size: 40px;
            line-height: 40px;
            font-weight: 700;
            height: 57px;
            margin-bottom: 42px;
            
       
        }
        p {
            color: white;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 64px;
            width: 315px;
            height: 74px;
            line-height: 24px;
            top: 3015px;
        }
        button {
            background-color: #BA0000;
            border-color: transparent;
            border-radius: 4px;
            color: white;
            height: 48px;
            padding: 12px 16px;
            width: 100px;   
            margin: left;  
            
        }
    }
}
