.services {
    align-items: center;
    background-repeat: no-repeat;
    border-radius:50% ;
    background-size: cover;
    background-position: center top;
    display: flex;
    height: 745px;
    width: 100%;

    

    .services-container {
        display: flex;
        flex-direction: column;        
        margin-left: 243px;    
        
        .image{
            background-image: url('../public/images/services.png');
            border-radius:50%;
            height: 736.52px;
            margin-left: 569px;
            margin-top: 237.48px;
            position: absolute;
            width: 736.52px;
        }
        
               
        h2 {
            color:#04182F;
            font-size: 40px;
            line-height: 40px;
            font-weight: 700;
            height: 57px;
            margin-bottom: 42px;
            
       
        }
        p {
            color: #04182F;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 64px;
            width: 315px;
            height: 74px;
            line-height: 24px;
            top: 3015px;
        }
        button {
            background-color: #BA0000;
            border-color: transparent;
            border-radius: 4px;
            color: white;
            height: 48px;
            padding: 12px 16px;
            width: fit-content;   
            margin: auto;  
            
        }
    }
    
    
}

